<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <style type="text/css" media="screen">
.gr_custom_container_ {
  /* customize your Goodreads widget container here*/
  border: 1px solid gray;
  border-radius:10px;
  padding: 10px 5px 10px 5px;
  background-color: #FFF;
  color: #000;
  width: 300px
}
.gr_custom_header_ {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 120%
}
.gr_custom_each_container_ {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_ {
  /* customize your book covers here */
  overflow: hidden;
  height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_ {
  /* customize your author names here */
  font-size: 10px;
}
.gr_custom_tags_ {
  /* customize your tags here */
  font-size: 10px;
  color: gray;
}
.gr_custom_rating_ {
  /* customize your rating stars here */
  float: right;
}
</style>

    <div id="gr_custom_widget_">
        <div class="gr_custom_container_">
  <h2 class="gr_custom_header_">
  <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/116262206-yoni-pineda?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Yoni&#39;s books</a>
  </h2>
    <div class="gr_custom_each_container_">
        <div class="gr_custom_book_container_">
          <a title="An Introduction to Information Theory: Symbols, Signals and Noise" rel="nofollow" href="https://www.goodreads.com/review/show/3370544901?utm_medium=api&amp;utm_source=custom_widget"><img alt="An Introduction to Information Theory: Symbols, Signals and Noise" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328868592l/433443._SY75_.jpg" /></a>
        </div>
        <div class="gr_custom_rating_">
          <span class=" staticStars notranslate" title="liked it"><img alt="liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
        </div>
        <div class="gr_custom_title_">
          <a rel="nofollow" href="https://www.goodreads.com/review/show/3370544901?utm_medium=api&amp;utm_source=custom_widget">An Introduction to Information Theory: Symbols, Signals and Noise</a>
        </div>
        <div class="gr_custom_author_">
          by <a rel="nofollow" href="https://www.goodreads.com/author/show/800433.John_Robinson_Pierce">John Robinson Pierce</a>
        </div>
    </div>
    <div class="gr_custom_each_container_">
        <div class="gr_custom_book_container_">
          <a title="Skin in the Game: The Hidden Asymmetries in Daily Life" rel="nofollow" href="https://www.goodreads.com/review/show/3370533798?utm_medium=api&amp;utm_source=custom_widget"><img alt="Skin in the Game: The Hidden Asymmetries in Daily Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1510319798l/36064445._SY75_.jpg" /></a>
        </div>
        <div class="gr_custom_rating_">
          <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
        </div>
        <div class="gr_custom_title_">
          <a rel="nofollow" href="https://www.goodreads.com/review/show/3370533798?utm_medium=api&amp;utm_source=custom_widget">Skin in the Game: The Hidden Asymmetries in Daily Life</a>
        </div>
        <div class="gr_custom_author_">
          by <a rel="nofollow" href="https://www.goodreads.com/author/show/21559.Nassim_Nicholas_Taleb">Nassim Nicholas Taleb</a>
        </div>
    </div>
    <div class="gr_custom_each_container_">
        <div class="gr_custom_book_container_">
          <a title="Antifragile: Things That Gain from Disorder" rel="nofollow" href="https://www.goodreads.com/review/show/3370533687?utm_medium=api&amp;utm_source=custom_widget"><img alt="Antifragile: Things That Gain from Disorder" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1352422827l/13530973._SY75_.jpg" /></a>
        </div>
        <div class="gr_custom_rating_">
          <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /></span>
        </div>
        <div class="gr_custom_title_">
          <a rel="nofollow" href="https://www.goodreads.com/review/show/3370533687?utm_medium=api&amp;utm_source=custom_widget">Antifragile: Things That Gain from Disorder</a>
        </div>
        <div class="gr_custom_author_">
          by <a rel="nofollow" href="https://www.goodreads.com/author/show/21559.Nassim_Nicholas_Taleb">Nassim Nicholas Taleb</a>
        </div>
    </div>
    <div class="gr_custom_each_container_">
        <div class="gr_custom_book_container_">
          <a title="Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets" rel="nofollow" href="https://www.goodreads.com/review/show/3370533443?utm_medium=api&amp;utm_source=custom_widget"><img alt="Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388180506l/38315._SY75_.jpg" /></a>
        </div>
        <div class="gr_custom_rating_">
          <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
        </div>
        <div class="gr_custom_title_">
          <a rel="nofollow" href="https://www.goodreads.com/review/show/3370533443?utm_medium=api&amp;utm_source=custom_widget">Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets</a>
        </div>
        <div class="gr_custom_author_">
          by <a rel="nofollow" href="https://www.goodreads.com/author/show/21559.Nassim_Nicholas_Taleb">Nassim Nicholas Taleb</a>
        </div>
    </div>
    <div class="gr_custom_each_container_">
        <div class="gr_custom_book_container_">
          <a title="The Black Swan: The Impact of the Highly Improbable" rel="nofollow" href="https://www.goodreads.com/review/show/3370533388?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Black Swan: The Impact of the Highly Improbable" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386925471l/242472._SY75_.jpg" /></a>
        </div>
        <div class="gr_custom_rating_">
          <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
        </div>
        <div class="gr_custom_title_">
          <a rel="nofollow" href="https://www.goodreads.com/review/show/3370533388?utm_medium=api&amp;utm_source=custom_widget">The Black Swan: The Impact of the Highly Improbable</a>
        </div>
        <div class="gr_custom_author_">
          by <a rel="nofollow" href="https://www.goodreads.com/author/show/21559.Nassim_Nicholas_Taleb">Nassim Nicholas Taleb</a>
        </div>
    </div>
<br style="clear: both"/>
<center>
  <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
  Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Yoni, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

    </div>
    <script src="https://www.goodreads.com/review/custom_widget/116262206.Yoni's%20bookshelf:%20read?cover_position=&cover_size=&num_books=5&order=&shelf=&sort=&widget_bg_transparent=" type="text/javascript" charset="utf-8"></script>





    <style>
    		#customize-list{
    			float:left;
    			margin-left:20px;
    			list-style:none;
    		}
    	  #gr_updates_widget{
    		float:left;
    		border-radius: 5px;
    		background-color:#fff;
    		border:solid #683205 10px;
    		-webkit-box-shadow: 0px 0px 4px 1px #595959,
    		inset 0px 0px 0px 1px #7D730B;
    		-moz-box-shadow: 0px 0px 4px 1px #595959,
    		inset 0px 0px 0px 1px #7D730B;
    		box-shadow: 0px 0px 4px 1px #595959,
    		inset 0px 0px 0px 1px #7D730B;
    		padding:15px 0 0px 15px;
    		width:350px;
    		height:365px;
    	  }
    	  #gr_footer{
    		margin-bottom:0px;
    		height:30px;
    	  }
    	  #gr_updates_widget p{
    		padding:0px;
    		margin:0;
    		font-size:14px;
    	  }
    	  #gr_footer img{
    		width:100px;
    		float:left;
    	  }
    	</style>
    	<div id="gr_updates_widget">
    	  <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=400&num_updates=3&user=116262206&width=350" width="348" height="330" frameborder="0"></iframe>
              <div id="gr_footer">
                <a href="https://www.goodreads.com/"><img alt="Goodreads: Book reviews, recommendations, and discussion" src="https://www.goodreads.com/images/layout/goodreads_logo_140.png" /></a>
              </div>
            </div>
